movie-ws/client_side/MovieService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://movie" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://movie">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://movie">
            <xs:element name="read_movie">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="movie" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="read_movieResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="read_movieRequest">
        <wsdl:part name="parameters" element="ns:read_movie"/>
    </wsdl:message>
    <wsdl:message name="read_movieResponse">
        <wsdl:part name="parameters" element="ns:read_movieResponse"/>
    </wsdl:message>
    <wsdl:portType name="MovieServicePortType">
        <wsdl:operation name="read_movie">
            <wsdl:input message="ns:read_movieRequest" wsaw:Action="urn:read_movie"/>
            <wsdl:output message="ns:read_movieResponse" wsaw:Action="urn:read_movieResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MovieServiceSoap11Binding" type="ns:MovieServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="read_movie">
            <soap:operation soapAction="urn:read_movie" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MovieServiceSoap12Binding" type="ns:MovieServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="read_movie">
            <soap12:operation soapAction="urn:read_movie" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MovieServiceHttpBinding" type="ns:MovieServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="read_movie">
            <http:operation location="read_movie"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MovieService">
        <wsdl:port name="MovieServiceHttpSoap11Endpoint" binding="ns:MovieServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/MovieService"/>
        </wsdl:port>
        <wsdl:port name="MovieServiceHttpSoap12Endpoint" binding="ns:MovieServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/MovieService"/>
        </wsdl:port>
        <wsdl:port name="MovieServiceHttpEndpoint" binding="ns:MovieServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/MovieService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
